<p>
  Start by clicking a user.
</p>
<div class="user-view userlist-group" >
  <ul>
    <li class="userlist-group-item"  *ngFor="let usr of users" >
      <a [routerLink]="['/home',{outlets:{'albumsRoute':['albums',usr.id]}}]" routerLinkActive="active" class="userlist-group-link">{{usr.name}}</a>
    </li>
  </ul>
</div>
<div class="albums-view albums-group">
  <router-outlet name="albumsRoute"></router-outlet>
</div>
<div class="photos-view photos-group">
  <router-outlet name="photosRoute"></router-outlet>
</div>
