ul,li{
  padding:0;
  list-style:none;
}
a{
  text-decoration: none;
  display: block;
}
.userlist-group{
  float: left;
  padding-right: 20px;
  border-right: 1px solid #3c3c3c;
}
.userlist-group ul{
  overflow:auto;
  width:200px;
  padding-left: 20px;
}
.userlist-group ul li{
  float:left;
  width:100%;
  list-style: none;
  margin-bottom:10px;
}
.userlist-group ul li a{
    padding: 5px 10px;
    color: #3c3c3c;
    border: 1px solid #3c3c3c;
}
.userlist-group ul li a.active{
  color:#006dca;
  border: 1px solid #006dca;
}
.albums-group, .photos-group{
  margin-left:250px;
}
.photos-group{
  border-top:1px solid #3c3c3c;
  margin-top:30px;
}
.child-group-ul{
  overflow:auto;
  padding-left: 20px;
}
.child-group-ul li{
  list-style: none;
  clear: right;
  display: inline-flex;
  text-align: center;
}
.child-group-ul li a{
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.child-group-ul li img{
  display: block;
  margin: 0 auto;
}
.child-group-ul li .subtitle{
  display: inline-block;
  width: 150px;
  vertical-align: bottom;
}
.child-group-ul li .subtitle em{
  text-decoration: underline;
}
